<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Tea Lovers Unite</title>
</head>
<body>
    <h1>Steep The Perfect Cup Of Tea</h1>

    <section class="container">
        <form action="/addTea" method="POST">
            <h2>Add A Tea:</h2>
            <input type="text" placeholder="Tea Name" name="name">
            <input type="text" placeholder="Tea Type" name="type">
            <input type="text" placeholder="Water Temp" name="waterTemp">
            <input type="text" placeholder="Steep Time" name="steepTime">
            <input type="submit" class="submit">
        </form>
    </section>

    <ul class="tea">
        <% for(let i = 0; i < info.length; i++) { %>
            <li class="teas">
                <p><strong>Name:</strong> <%= info[i].name %></p>
                <p><strong>Type:</strong> <%= info[i].type %></p>
                <p><strong>Water Temp:</strong> <%= info[i].waterTemp %></p>
                <p><strong>Steep Time:</strong> <%= info[i].steepTime %></p>
            </li>
        <% } %>
    </ul>

</body>
</html>

